<h1>Editing startup</h1>

<%= render "form", startup: @startup %>

<br>

<div>
  <%= link_to "Show this startup", admin_startup_path(@startup) %> |
  <%= link_to "Back to startups", admin_startups_path %>
</div>
