<p style="color: green"><%= notice %></p>

<% if can? :create, Startup %>
  <%= link_to "New startup", new_admin_startup_path %>
<% end%>

<div id="startups">
 <%= render collection: @startups, partial: "startups/startup" %>
</div>
