<div class="S_createStartup">
<div style="width: 100%">
  <%= render "form", startup: @startup %>
</div>


  <div class="p5">
    <%= link_to "← Вернуться к стартапам", startups_path %>
  </div>

</div>

<%= render "sidebar" %>