<h1>Editing tag type</h1>

<%= render "form", tag_type: @tag_type %>

<br>

<div>
  <%= link_to "Show this tag type", admin_tag_type_path(@tag_type) %> |
  <%= link_to "Back to tag types", admin_tag_types_path %>
</div>
