<nav id="menubar">
  <a  href="/welcome/index">Промо</a>
  <a href="/welcome/about">О проекте</a>
  <a href="https://t.me/startapdaily" target="_blank">Канал</a>
</nav>

<div class="screens_about">
  <%= image_tag '/autouploader/about_screen_1.jpg', class: 'message_avatar'  %>
</div>

<div id="screen_2">
  <div class="promo_card">
    <div class="promo_card_content">
      <h4>Комьюнити</h4>
      <p>Переписывайтесь с людьми в мессенджере и вместе обсуждайте ключевые моменты ваших проектов</p>
    </div>
    <p class="author_name">Свидунович Ксения </p>
  </div>
  <div class="promo_card">
    <div class="promo_card_content">
      <h4>Фидбек</h4>
      <p>Получайте важный отклик других предпринимателей по поводу обновлений вашего стартапа</p>
    </div>
    <p class="author_name">Островерх Ольга</p>
  </div>
  <div class="promo_card">
    <div class="promo_card_content">
      <h4>Взаимопомощь</h4>
      <p>Находите ответы на любые вопросы, которые могут возникнуть в процессе развития вашего продукта</p>
    </div>
    <p class="author_name">Суровцева Злата</p>
  </div>
</div>

<div class="screens_about">
  <%= image_tag '/autouploader/about_screen_2.jpg', class: 'message_avatar'  %>
</div>

<div class="screens_about">
  <%= image_tag '/autouploader/about_screen_3.jpg', class: 'message_avatar'  %>
</div>

<div id="screen_5">
  <div class="tag_container">
    <h4 class="black">получай</h4>
    <h4 class="blue">фидбек</h4>
    <h4 class="black">и</h4>
    <h4 class="black">пости</h4>
    <h4 class="blue">новости</h4>
    <h4 class="black">про</h4>
    <h4 class="black">свой</h4>
    <h4 class="black">продукт</h4>
    <h4 class="blue">помогай</h4>
    <h4 class="black">другим</h4>
    <h4 class="black">развиваться</h4>
    <h4 class="blue">★ </h4>
    <h4 class="blue">учись</h4>
    <h4 class="blue">вдохновляйся</h4>
    <h4 class="blue">вдохновляй</h4>
    <h4 class="black">других</h4>
  </div>
</div>

<div id="screen_6">

  <h2>Следите за запуском медиасервиса StarTap</h2>
  <p>Подпишитесь на рассылку уже сейчас</p>


  
  <div id="new_subscription">

  <%= render "subscriptions/form" %>

</div>
</div>




