<div class="W_interactive">
    <div class="M_upvoteButton"> 
        <%= image_tag "image.svg", class: 'A_buttonsContent icon' %>
        <%= image_tag "image.svg", class: 'A_buttonsContent icon' %>
    </div>
</div>