


<div class="S_postsPage">
    <p class="p2" style="color: green"><%= notice %></p>



    <div class="S_posts">



        <div id="C_posts">
        
            <%= render collection: @posts, partial: "posts/post" %>
        </div>
    </div>


</div>

<%= render "sidebar_post_filter" %>
