.C_commentsList {
    padding: 24px 0;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.C_textFieldBig {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

.C_textField {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
    flex-direction: column;

    &.text-area {
        height: 240px;
    }
}
#C_posts {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

#C_startups {
    display: flex;
    flex-direction: column;
    gap: 18px;
}