body {

    .M_startupDesc {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .M_actionButton {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-radius: 9px;
        background-color: var(--gray-2);

        &.like {
            background-color: var(--green);
        }
        &.dislike {
            background-color: var(--light-red);
        }

        &.action:hover {
            background-color: var(--grey);
        }
    }

    .M_commentContent {
        display: flex;
        width: 100%;
        height: auto;
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
    }

    .M_commentForm {
        background-color: var(--background);
        width: 100%;
        min-width: 260px;
        min-height: 40px;
        max-width: -webkit-fill-available;
        border-radius: 8px;
        margin: 16px 0;
        font-family: "Avenir Next Cyr", sans-serif;
        font-size: 16px;
        padding: 8px;
        color: var(--black);

        * {
            width: 100%;
            height: 24px;
            max-width: -webkit-fill-available;
            border: 0px;
        }
    }

    .M_startapDesk {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        align-self: stretch;

        .p1 {
            color: var(--gray-5);
            font-weight: bold;
        }
    }


    .M_textField {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
        align-self: stretch;
    }

    .M_form {
        display: flex;
        width: 100%;
        padding: 20px 32px;
        align-items: center;
        gap: 15px;
        border-radius: 8px;
        background: #303030;
        font-family: "Neutral Face", sans-serif;
        font-size: 12px;
        color: var(--gray-3);

        &.text-area {
            textarea {
                border: 0px;
                padding: 8px 0;
                height: 240px;
                width: -webkit-fill-available;
            }
        }
    }

    .M_stract {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .M_comment_header {
        display: flex;
        gap: 16px;
        align-items: flex-start;

        .A_date {
            color: var(--gray-3);
        }
    }

    .M_comment {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .M_hugeButton {
        
        background-color: var(--green);
        color: var(--black);
        width: 100%;
        display: flex;
        align-items: center;

        * {
            font-family: "Neutral Face";
            font-size: 15px;
            color: var(--black);
        }
    }
}