body {

    .M_stract {
        display: flex;
        height: 48px;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;
        
        &.big {
            display: flex;
            height: fit-content;
            justify-content: center;
            align-items: flex-start;
            gap: 16px;
            align-self: stretch;
        }
    }

    .M_startupDesc {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .M_actionButton {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        gap: 4px;
        border-radius: 9px;
        background-color: var(--background);

        &.like {
            background-color: var(--green);
        }
        &.dislike {
            background-color: var(--light-red);
        }

        &.action:hover {
            background-color: var(--grey);
        }
    }

    .M_commentContent {
        display: flex;
        width: 100%;
        height: auto;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
    }

    .M_commentForm {
        background-color: var(--background);
        width: 100%;
        min-width: 260px;
        min-height: 100px;
        border-radius: 8px;
        margin: 16px 0;
        font-family: "Avenir Next Cyr", sans-serif;
        font-size: 16px;
        padding: 8px;

        * {
            width: 100%;
            height: 120px;
            max-width: -webkit-fill-available;
            border: 0px;
        }
    }

    .M_startapDesk {
        display: flex;
        padding-top: 13px;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        flex: 1 0 0;
    }

    .M_text {
        display: flex;
        padding: 9px 8px;
        justify-content: space-between;
        align-items: flex-start;
        align-self: stretch;
        border: 1px solid var(---black, #02020F);
        background: var(---background, #F2F2F2);
    }

    .M_textField {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
        align-self: stretch;
    }
}