.post_show {
    display: flex;
    width: 630px;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
}

.S_MenuBar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 188px !important;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    border-right: 1px solid var(--gray-3);


    a {
        color: var(--gray-3);

        &:hover {
            color: var(--white);
        }
    }

    @media screen and (max-width: 824px) {
        display: none;
    }
}

.S_footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 2rem 1rem;

    p {
        color: var(--grey);
    }
}

.S_postsSection {
    margin: 24px 0;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    max-width: 630px;
    flex-direction: column;
    background-color: var(--gray-1);
}

.S_startupsSection {
    margin: 24px 0;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
}

.S_postComments {
    padding: 16px;
    display: flex;
    gap: 16px;
    flex-direction: column;
}

.S_posts {
    display: flex;
    gap: 32px;
    width: 100%;
}

.S_postsPage {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
}

.S_startupsPage {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;

}

.S_profilePage {
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

}

.S_startups {
    display: flex;
    gap: 32px;
    justify-content: center;
}

.S_createPost {
    display: flex;
    padding: 96px;
    flex-direction: column;
    align-items: center;
    gap: 64px;
    flex: 1 0 0;
    background: var(--back);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.S_createStartup {
    display: flex;
    padding: 96px;
    flex-direction: column;
    align-items: center;
    gap: 64px;
    flex: 1 0 0;
    background: var(--back2);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;

    @media screen and (max-width: 824px) {
            padding: 96px 32px;
    }

    @media screen and (max-width: 480px) {
        padding: 96px 16px;
    }
}

.S_footer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 10rem 1rem 2rem 1rem;
    border-top: 1px solid var(--gray-3);

    p {
        color: var(--grey);
    }
}


.S_sideBar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 188px !important;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    border-left: 1px solid var(--gray-3);
    min-height: 100vh;
    height: auto;
    padding: 16px;


    a {
        color: var(--gray-3);

        &:hover {
            color: var(--white);
        }
    }

    @media screen and (max-width: 824px) {
        display: none;
    }
}

.S_postContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    flex: 1 0 0;
    padding: 16px;
}

.S_loginContainer {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.S_helpPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    color: var(--white);
    gap: 32px;
}

.S_MenuBarMobileClosed {
    background-color: var(--black);
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: var(--white);
    padding: 0 16px;
    display: none;

    @media screen and (max-width: 823px) {
            display: flex;
    }
}

.S_MenuBarMobile {
    position: fixed;
    right: 16px;
    top: 16px;
    background-color: var(--black);
    color: var(--white);
    display: none;
    opacity: 0;
    transition: 0.1s;
    border-radius: 16px;
    z-index: 100;

    &:hover {
        display: block;
        opacity: 1;
        transition: 0.1s;
    }

}