:root {
  --white: #fafafa;
  --bright-blue: #3a66ff;
  --blue: #869ffa;
  --light-blue: #cbd5fb;
  --very-light-blue: #edeff6;
  --light-grey: #f2f2f2;
  --black: #1f2026;
  --grey: #b9b9b9;
}
