:root {
  --grey: #b9b9b9;
  --background: #f2f2f2;

  --red: #ff5134;
  --green: #99d18e;
  --light-red: #ff7c6c;
  --azure: #9decdc;
  --blue: #b1ddff;
  --purple: #b8bbfe;
  --yellow: #f3e481;
  --png-back: url("png-back.jpg");
  --back: url("background.jpg");
  --back2: url("back2.jpg");

  --gray-0: #131314;
  --gray-1: #303030;
  --gray-2: #444444;
  --gray-3: #5a5a5a;
  --gray-4: #8d8d8d;
  --gray-5: #b9b9b9;
  --gray-6: #d1d1d1;
  --white: #fbfbfb;
  --black: #040404;

  --gradient: linear-gradient(
    93deg,
    #bfc0f6 4.8%,
    #e2d8c7 14.77%,
    #fcd369 29.93%,
    #fca331 41.63%,
    #f58a06 55.06%,
    #dba19d 78.03%,
    #bbbbf7 91.46%
  );
}
