<div>
  <%= subscription.email %>
  <br>
  <%= link_to "Edit", edit_admin_subscription_path(subscription) %>
  <%= button_to "Destroy", admin_subscription_path(subscription), method: :delete %>
</div>

<br><br>