<div class="footer">

<%= link_to "О проекте →", welcome_about_url %>

<div id="authors">

  <p>Авторы:</p>
  <p>Ксения Свидунович</p>
  <p>Злата Суровцева</p>
  <p>Островерх Ольга</p>

</div>


<div>