<div class="S_footer">

<div id="authors">

  <p class="p3">Авторы:</p>
  <p class="p3">Ксения Свидунович</p>
  <p class="p3">Злата Суровцева</p>
  <p class="p3">Островерх Ольга</p>

</div>


<div>