  <div class="S_sideBar">

    <div class="O_filter">
        <% if current_user.present? %>
            <p class="p6 A_tag white"><%= link_to "Мои стартапы", my_startups_path %></p>
        <% end %>
        <p class="p6 A_tag white"><%= link_to "Все стартапы", startups_path %></p>
        <div class="W_favTags">
            <div class="W_categories">
                <% Startup.tag_counts_on(:tags).each do |tag| %>
                <p class="p8 A_tag"><%= link_to tag.name, tagged_startups_path(tag.name) %></p>
                <% end %>
            </div>
        </div>
    </div>
</div>