<div class="S_profilePage">


  <%= render partial: 'profile', locals: { profile: @profile } %> 

  <p class="p4 white">Стартапы</p>

  <div id="C_posts">
      <% if @startups.any? %>
        <%= render partial: "startups/startup", collection: @startups, as: :startup %>
       <% end %>
  </div>

  <p class="p4 white">Посты</p>

    <div id="C_posts">
      <% if @posts.any? %>
        <%= render partial: "posts/post", collection: @posts, as: :post %>
      <% end %>
  </div>

</div>